/* Define puerto a usar por Node */
PORT=
/* Define ubicación de base de datos MongoDB */
MONGO_URI=
/* Define nombre de usuario para base de datos MongoDB */
MONGO_USER=node-shop
/* Define contraseña para base de datos MongoDB */
MONGO_PASS=123456
/* Define clave secreta para "sazonar" el token */
MYKEY=letonewalkalonecomitingnosinwithfewwisheslikeandelephantintheforest
